@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');
#main,
#main * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

#main {
    position: fixed;
    font-size: 18px;
    font-weight: 300;
    height: 100%;
    width: 100%;
    color: #27211C;


    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 150%;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: #27211C;
    }

    .cta-primary {
        display: inline-block;
        border-radius: 30px;
        padding: 15px 20px;
        background: #D8CAB3;
        transition: background-color 200ms ease;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;

        > :nth-child(1) {
            margin-right: 15px;
        }

        &:hover {
            background: #8B551D;
        }
    }

    .popup-box {
        text-align: center;
        background: #ffffff;
        padding: 45px 50px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        max-width: 600px;
        width: auto;
        min-width: 400px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        h1 {
            margin-bottom: 10px;
        }

        .cta-container {
            margin-top: 30px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            .cta-primary:nth-child(1) {
                padding: 15px 30px;
            }

            >a {
                margin: 10px
            }
        }
    }
}