{%
    render 'text-block',
    text_layout: section.settings.text_layout,
    title: section.settings.title,
    subheading: section.settings.subheading,
    text: section.settings.text
  %}
  
  {% schema %}
  {
    "name": "Text area",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text area"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this section to add custom components.</p>"
      },
      {
        "type": "select",
        "id": "text_layout",
        "label": "Text layout",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
  
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "background-default",
            "label": "Default"
          },
          {
            "value": "background-alternate",
            "label": "Alternate"
          }
        ],
        "default": "background-default"
      }
    ],
    "presets": [
      {
        "category": "Text",
        "name": "Text area"
      }
    ]
  }
  
  {% endschema %}